/*General Styling*/
html, body {
  margin: 0px;
  padding: 0px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 610px;
}

.top_logo-container {
  display: flex;
  justify-content: center;
  height: 128px;
}

.top_logo-container img {
  height: 128px;
}

.help_icon-container {
  display: flex;
  justify-content: flex-end;
  height: 95px;
}

.help_icon-container img {
  position: relative;
  right: 15px;
  height: 95px;
}

.help_icon-container a {
  position: absolute;
  right: 26px;
  height: 95px;
  width: 95px;
}

.myButton {
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color:#fe1a00;
  border-radius:10px;
  border:2px solid #d83526;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:40px;
  padding:20px 90px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}

.myButton:active {
  position: relative;
  top: 1px;
}
p {
  font-size: 22px;
}
table {
  width: 100%;
}

td {
  padding: 25px;
  text-align: center;
}

footer {
  background-color: #cc0000;
  background-image: url("https://undergrad.cs.umd.edu/sites/all/themes/cs_turtle/images/dept_logo_reversed.png");
  background-repeat: no-repeat;
  background-size: 17% auto;
  background-position-x: 97%;
  background-position-y: center;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
}

.phone_numbers-container {
  position: relative;
  left: 19%;
  text-align:center;
}
